{% extends 'base.html' %}
{% block body %}
<h1>Go back to home</h1>
<button class="btn btn-success" onclick="/recipes/">
    <a href="/" class="text-decoration-none"> Home </a>
</button>

<div class="container col-6 mt-4 mx-auto card shadow-lg mb-4 p-4">
    <form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <h1 class="ghost text-center">Update Recipe</h1>
        <div class="mb-3">  
          <label for="exampleInputEmail1" class="form-label">Recipe name</label>
          <input type="text" class="form-control" id="recipe_name" name="recipe_name" value="{{recipe.recipe_name}}" aria-describedby="emailHelp">
        </div>
        
        <div class="mb-3">  
          <label for="exampleInputEmail1" class="form-label">Recipe description</label>
          <textarea class= "form-control" id="recipe_description" name="recipe_description" value="{{recipe.recipe_description}}"> </textarea>
        </div>
        <div class="mb-3">  
            <label for="exampleInputEmail1" class="form-label">Image</label>
            <input type="file" class="form-control" id="recipe_image" name="recipe_image" aria-describedby="emailHelp" value="{{recipe.recipe_image}}">
          </div>
        <button type="submit" class="btn btn-primary">Update Recipe</button>
      </form>
</div>


{% endblock body %}